node_modules
.env
dist
the name entered by the user in the @beautifulMentionshould update the name of the project in the ide @beautifulMentionand this project should be dynamic and indpendent with the other project, create store for the project in a db by cretating new s hematable